
.Home{
    background-color: bisque;
    border: 2px solid black;
    border-radius: 10px;
    height: 400px;
    margin-bottom: 10px;

}
    h1{
    background-color: yellowgreen;
    font-family: 'Times New Roman', Times, serif;
text-align: center;
padding: 20px;

}
.homepage{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-image: url();
}


.contact{
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
     font-family: 'Times New Roman', Times, serif;

}
.abouthome{
    background-color: brown;
    font-family: 'Times New Roman', Times, serif;
text-align: center;
padding: 20px;

}



    
